{
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  },
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": true,
        "regenerator": true
      }
    ],
    "react-local"
  ]
}
