.header {
  grid-area: header;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  line-height: 1;
  box-sizing: border-box;
  background-color: var(--color-bg);

  @media (max-width: 480px) {
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--color-bd);
  }
}

.container {
  composes: content from 'layouts/common.css';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 16px;
  }
}
