.footer {
  composes: content from 'layouts/common.css';
  display: block;
  grid-area: footer;
  background-color: var(--color-primary);
  color: var(--color-bg);
  box-sizing: border-box;

  a {
    color: var(--color-bd-primary);

    &:hover,
    &:focus {
      color: var(--color-bd-primary-hover);
    }
  }

  @media (max-width: 480px) {
    padding-bottom: calc(var(--font-base) + var(--header-height));
  }
}
