.footer {
  --bg: var(--color-bg-primary);

  grid-area: footer;
  background-color: var(--bg);
  color: var(--color-primary);
  box-sizing: border-box;
}

.container {
  composes: container from 'layouts/common.css';
  display: flex;
  flex-direction: column;
  padding: calc(var(--font-base) * 2) var(--padding-base) calc(var(--font-base) * 3);
}
